services:

  db:
    image: pgvector/pgvector:pg16
    container_name: tontouma-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=tontouma
    ports:
      - "5532:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: tontouma-minio
    ports:
      - "9100:9000"
      - "9002:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  createbuckets:
    image: minio/mc
    container_name: tontouma-createbuckets
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c " /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin; /usr/bin/mc mb myminio/tontouma-knowledge; /usr/bin/mc anonymous set public myminio/tontouma-knowledge; exit 0; "

volumes:
  postgres_data:
  minio_data:
